<h2>Customize your profile  </h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <p>
    <%= f.label :email %>
    <%=image_tag(current_user.account.gravatar, :size => "32x32", :align => :center)%>
    <%= f.email_field :email %><%=f.submit "Update email"%><br/>
    <em><small>(Note: Your avatar is provided by <a href="http://en.gravatar.com/">Gravatar</a>.)</small></em>
  </p>
<% end %>

<%= form_for current_user.account do |f|%>
  <p>
    <%=f.label :bio, "Bio"%>
    <%=f.text_area :bio%>
    <em><small>(Note: You can use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> syntax in this field)</small></em>
  </p>
  <p>
    <%=f.label :url, "Link you your homepage"%>
    <%=f.text_field :url%>
  </p>
  <p>
    <%=f.submit "Update profile"%>
  </p>
<%end%>

<%= link_to "Back", :back %>
