<div class="page-header row">
  <div class="span12">
    <h1>Meetups</h1>
  </div>
</div>

<table class="zebra-striped">
  <thead>
    <tr>
      <th><%=t("meetup.name")%></th>
      <th style="width: 13em;"><%=t("meetup.date")%></th>
    </tr>
  </thead>
  <tbody>
    <%@meetups.each do |meetup|%>
      <tr>
        <td><%=link_to meetup.name, meetup_url(meetup.id)%> @ <%=meetup.location%></td>
        <td><%=meetup.human_date%> @ <%=meetup.happening_at.strftime("%H:%M")%></td>
      </tr>
    <%end%>
  </tbody>
</table>

<% content_for :sidebar do %>
  <div class="well">
    <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
    <div>
      <a href="https://twitter.com/share?url=<%=request.fullpath%>&amp;via=brugcz" class="twitter-share-button">Tweet</a>
    </div>
    <iframe scrolling="no" frameborder="0" allowtransparency="true" style="border:none; overflow:hidden; width:200px; height:80px;" src="http://www.facebook.com/plugins/like.php?href=http://meetr.cz/meetups/7?&send=true&layout=standard&width=450&show_faces=true&action=like&colorscheme=light&font=trebuchet+ms&height=80"></iframe>
    <h3>Talks:</h3>
    <ul>
      <%@presentations.each do |p|%>
        <li><%=link_to p.name, presentation_url(p)%></li>
      <%end%>
    </ul>
  </div>
<% end %>
