<% title t("profile.presentations")%>

<table>
  <thead>
    <tr>
      <th><%=t("talk.name")%></th>
      <th><%=t("talk.presenter")%></th>
      <th><%=t("talk.submitted")%></th>
      <th><%=t("talk.meetup")%></th>
      <th><%=t("meetup.attendees")%></th>
    </tr>
  </thead>
  <tbody>
    <%@presentations.each do |presentation|%>
      <tr>
        <td><%=link_to presentation.name, presentation_url(presentation.id)%></td>
        <td><%=link_to presentation.user.account.name, account_url(presentation.user.account)%></td>
        <td><%=presentation.human_date%></td>
        <td><%=link_to presentation.meetup.name, meetup_url(presentation.meetup)%></td>
        <td><%=presentation.meetup.num_of_attendees%></td>
      </tr>
    <%end%>
  </tbody>
  <tfoot>
  </tfoot>
</table>
