<% title link_to(@presentation.meetup.name, meetup_url(@presentation.meetup.id)) + " - #{@presentation.name}" %>

<div class="article">
  <%=raw @presentation.to_html%>
</div>

<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:comments href="<%=url_for(:only_path => false, :overwrite_params=> { })%>" num_posts="10" width="1014"></fb:comments>

<div class="status">
  <%=t "talk.presenter"%>: <%=link_to @presentation.user.account.name, account_url(@presentation.user.account)%><br/>
  <%=t "talk.duration"%>: <%=@presentation.duration/60%> minutes<br/>
  <%=t "talk.submitted"%>: <%=@presentation.human_date%>
</div>

<h2><%=t("votes_big")%> (<%=@presentation.votes.count%>):</h2>
<div class="votes">
  <ul class="attendees">
    <%@presentation.votes.each do |vote|%>
      <li class="thumbup">
        <%=image_tag vote.user.account.gravatar, :size => "32x32"%>
        <%=link_to vote.user.account.name, vote.user.account.url%> &lt;<%=vote.user.email%>&gt;
        <br/>
        <%=t("talk.voted")%> <%=distance_of_time_in_words(Time.now, vote.created_at)%> ago.
      </li>
    <%end%>
  </ul>
</div>
