<% title "Brno Ruby User Group"%>
<h1 class="home"><%=@title%></h1>

<div class="home-about">
  <p>
Discuss <strong>Ruby</strong> development, both within web frameworks (<a href="http://http://rubyonrails.org/">Rails</a>, <a href="http://sinatrarb.com">Sinatra</a>, etc..) and outside as system or desktop development. The atmosphere is informal, we encourage participation from everyone, interruptions are par for the course. We use a projector so everyone can type code and everyone can see. Meetings generally run an hour to two hours max and is followed by a social gathering at a nearby pub.
</p>
<ul class="upcoming">
 <li><strong><%=t "welcome.upcoming"%>:</strong></li>
<%Meetup.upcomming.each do |meetup|%>
  <li><%=link_to meetup.name, meetup_url(meetup.id)%> @ <%=meetup.human_date%></li>
<%end%>
</ul>


</div>

<div class="home-meetups">
<iframe src="http://www.facebook.com/plugins/likebox.php?href=http://www.facebook.com/pages/Brno-Ruby-User-Group/202464736459710&amp;width=400&amp;colorscheme=light&amp;show_faces=true&amp;stream=true&amp;header=true&amp;height=427" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:427px;" allowTransparency="true"></iframe>
</div>

<div style="clear:both;"></div>

<h2><%=t "welcome.recent_talks"%>:</h2>

<table>
  <thead>
    <tr>
      <th><%=t "event"%></th>
      <th><%=t "talk.name"%></th>
      <th><%=t "talk.presenter"%></th>
      <th><%=t "talk.duration"%></th>
    </tr>
  </thead>
  <tbody>
    <%@presentations.each do |p|%>
      <tr>
        <td><%=link_to p.meetup.name, meetup_url(p.meetup)%></td>
        <td><%=link_to p.name, presentation_url(p)%></td>
        <td><%=link_to p.user, account_url(p.user.account)%></td>
        <td><%=p.duration/60%> minutes</td>
      </tr>
    <%end%>
  </tbody>
</table>
