<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="topbar">
      <%=render :partial => 'layouts/top_bar'%>
    </div>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit row">
        <div class="span3">
          <img src="/images/ruby.png" alt="Ruby logo" width="110"/>
          <img src="http://www.sdbrno.cz/uploads/loga_na_prvni_strane/brno.png"/>
        </div>
        <div class="span11">
          <h2>Welcome to meetr!</h2>
          <p>
          Discuss <strong>Ruby</strong> development, both within web frameworks (<a href="http://rubyonrails.org">Rails</a>, <a href="http://sinatrarb.org">Sinatra</a>, etc..) and outside as system or desktop <strong>development</strong>. The atmosphere is informal, we encourage participation from everyone, interruptions are par for the course. Meetups generally run an hour to two hours max and is followed by a social gathering at a nearby pub.
          </p>
          <p>
            <a class="btn primary large">Learn more &raquo;</a>
            <%=link_to raw("Join us! &raquo;"), url_for('/users/sign_on'), :class => 'btn danger large'%>
          </p>
        </div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <h2>Recent meetups</h2>
          <ul class="unstyled">
            <% @meetups.each do |m| %>
              <li><span class="label"><%=m.happening_at.strftime("%d/%m/%y")%></span> <%=link_to m.name, meetup_url(m)%></li>
            <% end %>
          </ul>
          <%=link_to raw("Older &raquo;"), meetups_url, :class => 'btn'%>
        </div>
        <div class="span5">
          <h2>Talks</h2>
          <ul class="unstyled">
            <% @presentations.each do |p| %>
              <li>
              <span class="label notice"><%=link_to p.user.account.name, account_url(p.user.account)%></span>&nbsp;
                <strong><%=link_to p.name, presentation_url(p)%></strong> 
              </li>
            <% end %>
          </ul>
          <p><%=link_to raw("More &raquo;"), presentations_url, :class => 'btn'%></p>
       </div>
        <div class="span5">
          <h2>People</h2>
          <ul class="unstyled">
            <% @users.each do |u| %>
              <li><%=link_to u.account.name, account_url(u.account)%></li>
            <% end %>
          </ul>
          <p><a class="btn" href="#">View more &raquo;</a></p>
        </div>
      </div>

      <footer>
        <a href="http://github.com/mifo/Meetr">meetr.cz</a> powered by RoR &copy; <%=Time.now.year%> Michal Fojtik
      </footer>

    </div> <!-- /container -->

  </body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19683257-1']);
  _gaq.push(['_setDomainName', '.meetr.cz']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
